body {
    background-color: aqua;
}
h1, h2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;}
table{
    border: 1xp solid black;
    background-color: beige;}

th, tr, td{
    border: 1xp solid black;
    text-align: left;
    font-weight: 400;
    
}
button:active{
    background-color: blueviolet;
}

